.heading{
    color:white;
    background-color: rgb(39, 39, 180);
    text-align:center;
}

.flex-container{
    display:flex;
}

.flex-child{
    flex:1;
}
.flex-child1{
    flex:2;
}

.card {
    border: 1px solid #1a1a1a;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(106, 106, 165);
    color: white;
    margin-right: 10px;
    margin-left: 10px;
  }

  .card1{
    border: 1px solid #1a1a1a;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    width: 85%;
    background-color: rgb(201, 198, 198);
  }
  
  .card .card-header {
    padding: 0.375rem;
    background-color: #2d3e50;
    color: #d9e9e8;
  }
  
  .card .card-body {
    padding: 0.375rem;
  }
  
  .card .card-footer {
    border-top: 1px solid #1a1a1a;
    padding: 0.375rem;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .today-color{
    background-color: rgb(58, 58, 227);
    color: white;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }